html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  background-color: #121212;
  color: #FFFFFF;
}

body {
  display: flex;
  flex-direction: column;
  /* Изменено для вертикального расположения */
  align-items: center;
  padding-top: 20px;
  /* Добавлен отступ сверху */
}

#app-container {
  width: 90%;
  /* Задаем ширину контейнера */
  max-width: 600px;
  /* Ограничиваем максимальную ширину */
  text-align: center;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
}

#status-text {
  font-size: 1.2em;
  color: #AAAAAA;
}

/* Стили для витрины заданий */
#ta {
  width: 100%;
  margin-top: 20px;
}

.task-item {
  background-color: #2a2a2a;
  color: #FFFFFF;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 10px;
  text-align: left;
  transition: transform 0.2s ease-in-out;
}

.task-item:hover {
  transform: scale(1.02);
  /* Эффект при наведении */
}

.task-item h3 {
  margin: 0 0 5px 0;
  font-size: 1.1em;
}

.task-item p {
  margin: 0;
  font-size: 0.9em;
  color: #AAAAAA;
}